.carousel-inner{
    background-size: cover;
}

.second_sec h1{
    font-size: 3rem;
    
}

.second_sec{
    color: black;
}

.jumbotron{
    background: #ffffff !important;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.card-footer{
    font-size: 12px;
}