.carousel-inner {
    background-size: cover;
}

.second_sec h1 {
    font-size: 3rem;

}

.second_sec {
    color: blac
}

.jumbotron {
    background: #ffffff !important;
}

html {
    scroll-behavior: smooth;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.font {
    font-size: 12px;
}

.time {
    font-size: 2vw;
    font-family: monospace;
}

.test{
    background-image: url("/images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left;
}
.more{
    background-color: orange !important;
    background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
}
.more h1{
    font-size: 4rem;
}


.card {
    overflow: hidden;
}

.card img {
    transition: all 1.5s ease;
}

.card:hover img {
    transform: scale(1.5);
}

/* shop */
.inne {
    margin-top: 15%;
}